{% extends "base.html" %}

{% block content %}

    <h1>Add a new blog!</h1>
    <form method='post' action="/newpost">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>Title:</label>
                        <input type="text" name="title" />
                        <span class="error">{{error1}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Thoughts:</label>
                        <textarea name="text"></textarea>
                        <span class="error">{{error2}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Post" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

{% endblock %}